@import url(https://fonts.googleapis.com/css?family=Russo+One);
@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);
@import url(https://fonts.googleapis.com/css?family=Roboto);
 
h1, .h1 {
  text-transform: uppercase;
/*  font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif !important; */
  font-family: "Russo One",Helvetica,Arial,sans-serif !important;
  font-weight: 500 !important;
}

h2, .h2 {
  font-family: "Russo One",Helvetica,Arial,sans-serif !important;
  font-weight: 500 !important;
  font-size: 160% !important;

  border-top: 1px solid;
  line-height: 200%;
  margin-bottom: 12px !important;
}

html[data-theme='dark'] h2, .h2 {
  color: #c1b5a7 !important;
}

h3, .h3 {
  /* font-family: Lato,proxima-nova,Helvetica Neue,Arial,sans-serif !important; */
  font-family: "Russo One",Helvetica,Arial,sans-serif !important;
  font-weight: 500 !important;
  font-size: 140% !important;
  line-height: 160%;
  border-top: 1px dashed #d2dfe3;;
} 

html[data-theme='dark'] h3, .h3 {
  border-top: 1px dashed #554737;
}

h4, .h4 {
  font-size: 100%;
  font-style: italic;
} 


h5, .h5 {
  font-size: 90%;
  font-style: italic;
}

html[data-theme='dark'] .rst-content .toc-backref {
  color: #c1b5a7 !important;
}

.wy-nav-top {
  background:#ffae00 !important; 
}

dl.footnote>dd p {
  font-size: .7rem !important;
  line-height: 15px !important;
}

.footnote-reference {
  top: -0.6em !important;
  font-size: 60% !important;
}

.sidebar-no-background {
  float: right;
  width: 30% !important;
  display: block;
  margin: 0 0 12px 12px !important;
  padding: 12px !important;
  background:#00000000 !important; 
  border: 1px solid #00000000 !important; 
}

.sidebar-see-here {
  float: right;
  width: 30% !important;
  display: block;
  margin: 0 0 12px 12px !important;
  padding: 12px !important;
  background:#faae0040  !important; 
  border: 1px solid #00000000 !important; 
}

.note-ed-hidden-title .admonition-title {
  background:#ffffff !important;
  height: 0px !important;
  padding: 0px !important;
  line-height: 0px !important;
  visibility: collapse !important;
  clear: none !important;
}

.note-ed-hidden-title {
  background:#fcc75620 !important; 
  clear: none !important;
}

html[data-theme='dark'] .note-ed-hidden-title {
  background:#ab894120 !important; 
  clear: none !important;
}

.note-ed .admonition-title {
  background:#fcc756 !important; 
  clear: none !important;
}

.note-ed {
  background:#fcc75620 !important;  
  clear: none !important;
}

.admonition-todo {
  background: #f9f0e0 !important;
  clear: none !important;
}
html[data-theme='dark'] .admonition-todo {
  background: #ffffff24 !important;
  clear: none !important;
}

.admonition-todo p.admonition-title {
  background: #f7d1b0 !important;
}
html[data-theme='dark'] .admonition-todo p.admonition-title {
  background: #574903 !important;
}

.important {
  clear: none !important;
}

.todo-float-right {
  float: right;
  width: 40%;
}

html[data-theme='dark'] .important {
  background: #00211a !important;
  clear: none !important;
}

html[data-theme='dark'] .important p.admonition-title {
  background: #1abc9c !important;
}

html[data-theme='dark'] .hint .admonition-title {
  background-color: #006a56 !important;
}

.important-float-right {
  float: right;
  width: 40%;
}

.important-float-right-narrow {
  float: right;
  width: 20%;
}

.menuselection {
  border: 0px solid #ffffff00 !important;
  background:#b9b9b940 !important;
  font-size: 90% !important;
}

/* sidebar level 3 bullet points */
div#on-this-page ul.simple li ul li p {
  font-size: 80% !important;
  line-height: 120% !important;
}

.hr-dashed {
  margin: -10px 0px -10px 0px; 
  border-top: 1px dashed #d2dfe3;
}

.hr-heavy {
  margin: -10px 0px -10px 0px; 
  border-top: 5px solid #d2dfe3;
}

html[data-theme='dark'] .hr-dashed {
  border-top: 1px dashed #554737;
}

/* sidebar level 3 bullet points */
div#on-this-page ul.simple li ul li {
  line-height: 120% !important;
}

/* sidebar level 2 bullet points */
div#on-this-page ul.simple li p {
  font-size: 80% !important;
  line-height: 120% !important;
}

/* sidebar level 2 bullet points */
div#on-this-page ul.simple li {
  line-height: 120% !important;
}

li.toctree-l1 ul, li.toctree-l2 ul, li.toctree-l3 ul {
  margin-top: 0px !Important;
  margin-bottom: 0px !Important;
}

li.toctree-l3, li.toctree-l4 {
  margin-top: 0px !Important;
  margin-bottom: 0px !Important;
  font-size: 90% !important;
  line-height: 120% !important;
}

.wy-nav-top {
  font-size: 80% !important; 
}

.wy-nav-top a {
  font-family: Audiowide,Helvetica,Arial,sans-serif !important;
  font-weight: 100 !important;
}

.wy-nav-content {
  max-width: 1024px;
}

html[data-theme='dark'] .wy-nav-content a {
	color: #96d7ff !important;
}
html[data-theme='dark'] .wy-nav-content a:visited {
	color: #c0b3e5 !important;
}

.wy-breadcrumbs {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
}

.wy-side-nav-search>a img.logo {
    width: 60%;
}

/* sidebar level 3 bullet points */
nav#on-this-page ul.simple li ul li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

/* sidebar level 3 bullet points */
nav#on-this-page ul.simple li ul li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  margin-left: 15px !important;
}

/* sidebar level 2 bullet points */
nav#on-this-page ul.simple li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

/* sidebar level 2 bullet points */
nav#on-this-page ul.simple li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
}

nav#on-this-page ul.simple {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  margin-bottom: 0px !important;
}

nav#on-this-page p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  margin-top: 0px !important;
  margin-bottom: 6px !important;
}

nav#on-this-page {
  margin-bottom: 10px !important;
}

nav.in-this-section ul.simple {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  margin-bottom: 0px !important;
}

nav.in-this-section p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-style: italic;
  font-size: 90%;
  margin-top: 0px !important;
  margin-bottom: 6px !important;
  margin-left: -30px;
}

nav.in-this-section {
  margin-bottom: 20px !important;
  margin-left: 30px;
}

/* sidebars */
.rst-content .sidebar {
  padding: 12px 24px 12px 24px !important;
  border-radius: 10px;
  margin: 14px 0 14px 14px !important;
  width: 37%;
}

html[data-theme='dark'] .rst-content .sidebar {
  background: #000000ff;
  border:#000000ff;
}

.sidebar-on-this-page {
  box-shadow: -5px 5px 10px #000000a1 !important;
}

html[data-theme='dark'] .sidebar-on-this-page {
  /* box-shadow: 0px 0px 10px #343d3f !important; */
    box-shadow: -5px 5px 20px #635c1e !important;
}

.sidebar-title {
  border-radius: 10px;
}

html[data-theme='dark'] .sidebar-title {
  background: #002735 !important;
}

/* in-this-section level 3 bullet points */
nav.in-this-section ul.simple li ul li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  text-indent: 25px !important;
}

/* in-this-section level 3 bullet points */
nav.in-this-section ul.simple li ul li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  text-indent: 25px !important;
}

/* in-this-section level 2 bullet points */
nav.in-this-section ul.simple li p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-size: 80% !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  text-indent: 25px !important;
}

/* in-this-section level 2 bullet points */
nav.in-this-section ul.simple li {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  line-height: 120% !important;
  margin-bottom: 0px !important;
  text-indent: 25px !important;
}

nav.in-this-section ul.simple {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  margin-bottom: 0px !important;
}

nav.in-this-section p {
  font-family: Roboto,Helvetica,Arial,sans-serif !important;
  font-style: italic;
  font-size: 90%;
  margin-top: 0px !important;
  margin-bottom: 6px !important;
  margin-left: -30px;
}

nav.in-this-section {
  margin-bottom: 20px !important;
  margin-left: 30px;
}

html[data-theme='dark'] .rst-content .guilabel{
  border:1px solid #7f929f;
  background:#e7f2fa;
  font-size:80%;
  font-weight:700;
  border-radius:4px;
  padding:2.4px 6px;
  margin:auto 2px;
  color: black;
}


.rst-content img {
  box-shadow: -5px 5px 10px #000000a1 !important;
  margin: 0 0 14px 14px !important;
}
html[data-theme='dark'] rst-content .img {
  box-shadow: -5px 5px 10px #393939 !important;
}

.rst-content .align-left {
  margin: 0 14px 14px 14px !important;
}

/* *************************************** */

.hand-written {
  font-family: "Cedarville Cursive",Helvetica,Arial,sans-serif !important;
}

/* *************************************** */

@media not screen and (max-width: 900px) {
  div.rst-footer-buttons {
    position: fixed;
    bottom: 5px;
    width: 250px;
    background: #c9c9c999;
    padding: 10px; 
    border-radius: 10px;
    border-color: white !important;
    border: 4px solid;
    transform: translateX(50%);
  }
  html[data-theme='dark'] div.rst-footer-buttons {
    border-color: #141414 !important;
    background: #c9c9c92e;
  }
  footer {
    padding-bottom: 40px;
    font-size: 80% !important;
  }
  html[data-theme='dark'] footer {
    color: #838383 !important;
  }
  footer hr {
	border-top: 3px solid #e1e4e5;
  }
  html[data-theme='dark'] footer hr {
	border-top: 2px solid #838383;
  }

  div.topOfPage {
    position: fixed;
    bottom:30px;
	  right: 95px;
    width:52px;
    background: #c9c9c999;
    padding: 5px; 
    border-radius: 10px;
    border-color: white !important;
    border: 4px solid;
  }
  html[data-theme='dark'] div.topOfPage {
    border-color: #141414 !important;
    background: #c9c9c92e;
  }

  .topOfPageBtn {
     border: 1px solid rgba(0,0,0,.1);
     border-radius: 2px;
     color: #404040!important;
  }
  html[data-theme='dark'] .topOfPageBtn {
    background-color: #17181c !important;
    color: #c1c1c1 !important;
  }
}

@media screen and (max-width: 900px) {
  div.rst-footer-buttons {
    display:block;
    font-size: 80% !important;
  }
  /* div.topOfPage {
    display:block;
  } */
}

/* *************************************** */

.wy-nav-side {
  background: #724911 !important;
  /* background: #031214 !important; */
}

/* .wy-menu-vertical li.current {
  box-shadow: 0px 5px 10px #66666696;
} */

.wy-menu-vertical li.toctree-l2.current>a {
  /* box-shadow: 0px 5px 10px #66666696; */
  background-color: #d1d1d1;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
  background-color: #bdbcbc !important;
}

li.toctree-l3>a.current {
  font-style: italic !important;
  color: #1e1e1e !important;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a.current {
  background-color: #a3a3a3 !important;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a.current {
  background-color: #a3a3a3 !important;
}

/*   ***   */

/* html[data-theme='dark'] .wy-menu-vertical li.current {
  box-shadow: 0px 5px 10px #000000a1;
} */

html[data-theme='dark'] .wy-menu-vertical li.toctree-l1.current>a {
  /* box-shadow: 0px 5px 10px ##141414; */
  background-color: #141414 !important;
}

 
html[data-theme='dark'] .wy-menu-vertical li.toctree-l2.current>a {
  /* box-shadow: 0px 5px 10px #66666696; */
  background-color: #212121 !important;
}


html[data-theme='dark'] .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
  background-color: #2d2d2d !important;
}

html[data-theme='dark'] li.toctree-l3>a.current {
  color: #d5d5d5 !important;
}

html[data-theme='dark'] .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a.current {
  background-color: #373737 !important;
}

html[data-theme='dark'] li.toctree-l4>a.current {
  background-color: #2d2d2d !important;
}

html[data-theme='dark'] .wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
  background-color: #373737 !important;
}

html[data-theme='dark'] .wy-menu-vertical li.toctree-l3.current li.toctree-l4>a.current {
  background-color: #3f3f3f !important;
}

/* *************************************** */
/* Google search */

.gsc-input-box {
  border: 0px !important;
}

.gsib_a input {
  padding: 5px !important;
  background-color: #3d260c !important;
  color:white !important;
}

.gsc-search-button .gsc-search-button-v2 {
  width: 40px !important;
  height: 21px !important;
  padding: 4px 4px !important;
  background-color: #cb8522!important;
  border-color: #ffae2f !important;
  border-radius: 5px;
}

/* .gsc-search-button .gsc-search-button-v2 {
  width: 0px !important;
  padding: 7px 7px !important;
  border-color: #009300 !important;
  background-color: #009300 !important;
} */

/* *************************************** */
